@use "../sass/mixin" as *;
@use "../sass/variables" as *;

* {
    @include wiport();
}

html, body {
    @include body();
}

.acceso_redes {
    bottom: 5vw;
    cursor: pointer;
    position: fixed;
    right: 1vw;
    width: 10vw;
}

.box_redes {
    @include box-column();
    height: 20vh;
}

.box_social {
    @include box-column();
    color: rgba(0, 0, 0, 0.586);
    height: 6vh;
    width: 42vw;
}

#box_ubicacion {
    color: rgba(0, 0, 0, 0.586);
    display: flex;
    flex-direction: column;
    height: 35vh;
    justify-content: space-around;
    p {
        padding: 3vw;
    }
}

button {
    @include boton();
}

#box_boton {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.btn_subir {
    background-color: rgba(121, 194, 196, 0.762);
    border-radius: 20px;
    cursor: pointer;
    margin: 0 0 3vw 0;
    width: 10vw;
}

footer {
    @include box-column();
    background-image: url("../assets/img/fondo.png");
    background-size:cover;
    background-attachment: fixed;
    margin: 5vw 0 0 0;
    width: 100vw;
}

header{
    @include header();
    img {
        cursor: pointer;
        width:15vw;
    }

    #logo {
        width: 40vw;
    }

}


.logo {
    width: 4vw;
}

main {

    @include box-column();

    .amalgama {
        @include opacar-left();
        border-radius: 15px;
        width: 50vw;
    }
    
    .blanqueamiento {
        @include opacar-left();
        border-radius: 15px;
        width: 50vw;
    }
    
    #boximg_fractura {
        @include box-centrado();
        margin: 0vw;
        width: 50vw;
    }

    #boximg_sarro {
        @include box-centrado();
        border-radius: 15px;
        margin: 0vw;
    }

    #boximg_restauracion {
        @include box-centrado();
        margin: 0px;
    }
    
    #boximg_extraccion {
        height: auto;
        margin: 0vw;
    }
    
    #boximg_amalgama {
        @include box-centrado();
        margin: 0vw;
    }
    
    #boximg_blanqueamiento {
        @include box-centrado();
        margin: 0vw;
    }
    
    #box_publicidad {
        background-color: rgba(238, 249, 250, 0.582);
        width: 100vw;
        height: auto;
    }
    
    #card_blanqueamiento {
        @include box-row();
        background-color: $color-fondo;
        border-radius: 15px;
        height: auto;
        padding: 0 0 0 1vw;
    }
    
    #card_amalgama {
        @include box-row();
        border-radius: 15px;
        background-color: $color-fondo;
        height: auto;
    }
    
    #card_extraccion {
        @include box-row();
        border-radius: 15px;
        background-color: $color-fondo;
        height: auto;
    }

    #card_fractura {
        @include box-row();
        background-color: $color-fondo;
        border-radius: 15px;
        height: auto;
    }
    
    #card_restauracion {
        @include box-row();
        background-color: $color-fondo;
        border-radius: 15px;
        height: auto;
    }
    
    #card_sarro {
        @include box-row();
        border-radius: 15px;
        background-color: $color-fondo;
        height: auto;
    }    
    
    .cards_tratamientos {
        @include cards();
    }    
    
    .desvanecido {
        @include opacar-bottom();
    }
    
    .fractura {
        @include img();
        @include opacar-right();
    }    
    
    h1 {
        color: $titulo;
        font-size: 7vw;
        margin: 3vw 0 3vw 0;
        text-align: center;
    }    
    
    h2 {
        color: $sub-titulo;
        font-size: 5vw;
        padding: 0 0 0 1vw;
    }    
    
    h3 {
        color: $sub-titulo;
        font-size: 6vw;
    }    

    #info_blanqueamiento {
        @include box-centrado();
        color: rgba(0, 0, 0, 0.532);
        p {
            font-size: 3vw;
            margin: 2vw 0 2vw 0;
        }
        strong {
            text-align: start;
            width: 40vw;
            margin: 2vw 0 2vw 0;
        }
    }

    #info_fractura {
        @include box-centrado();
        color: rgba(0, 0, 0, 0.578);
        p {
            font-size: 3vw;
            margin: 2vw 0 2vw 0;
        }
        #second_PF {
            height: 15vh;
            margin: 2vw 0 0vw 0;
        }

    }
    
    #info_extraccion {
        @include box-centrado();
        color: rgba(0, 0, 0, 0.575);
        strong {
            text-align: start;
            margin: 2vw 0 0vw 0;
            width: 30vw;
        }
        p {
            margin: 2vw 0 1vw 0;
        }
    }
    
    #info_restauracion {
        @include box-centrado();
        color: rgba(0, 0, 0, 0.545);
        padding: 0 0 0 1vw;
        p {
            font-size: 3.5vw;
            margin: 2vw 0 1vw 0;
        }
        strong {
            margin: 1vw 0 1vw 0;
        }
    }
    
    #info_sarro {
        @include box-centrado();
        color: rgba(0, 0, 0, 0.571);
        p {
            font-size: 3vw;
            margin: 0vw 0 1vw 0;
        }
        strong {
            margin: 2vw 0 2vw 0;
        }
    }
    
    #info_amalgama {
        @include box-centrado();
        color: rgba(0, 0, 0, 0.574);
        padding: 0 0 0 1vw;
        p {
            font-size: 3vw;
            margin: 2vw 0 1vw 0;
        }
        strong {
            text-align: start;
            margin: 2vw 0 2vw 0;
            width: 40vw;
        }
    }
    
    .links {
        color: $sub-titulo;
    }    
    
    p {
        font-size: 3vw;
    }    
    
    #pub_promo {
        @include publicidad();
    }

    #pub_limpieza {
        @include publicidad();
    }
    
    .reveal_slide {
        height: 20vh;
    }    

    .reveal_fade {
        height: 20vh;
    }    
    
    .restauracion {
        @include img();
        @include opacar-left();
    }
    
    section {
        @include box-column();
        height: 25vh;
        margin: 0 0 2vw 0;
        width: 90vw;
    }    
    
    .subtitulo_fade {
        @include subtitulos();
    }    
    
    .subtitulo_slide {
        @include subtitulos();
    }    
    
    .sarro {
        @include opacar-right();
        border-radius: 15px;
        width: 60vw;
    }

    .text_slide {
        height: 60vh;
    }    
        
    
    #tratamientos {
        @include box-centrado();
        h3 {
            margin: 2vw 0 4vw 0;
        }
    }

    #video_extraccion {
        @include opacar-right();
        border-radius: 15px;
        width: 60vw;
    }
}

#maps {
    width: 100vw;
}

#redes_sociales {
    display: flex; 
    color: rgba(0, 0, 0, 0.586);
    flex-direction: column;
    height: 50vh;
    justify-content: space-around;
    padding: 3vw;
}

#side_menu {
    background: rgba(88, 177, 226, 0.15);
    backdrop-filter: blur(1.5vw);
    -webkit-backdrop-filter: blur(1vw);
    border: 1px solid rgba(100, 175, 229, 0.3);    color: white;
    height: 100vh;
    padding: 3vw;
    position: fixed;
    right: -$menu-width;
    transition: right $transition-speed ease;
    top: 0;
    width: $menu-width;
    z-index: 1;

    &.active {
        right: 0;
    }

    #close_menu {
        cursor: pointer;
        font-size: 7vw;
        text-align: end;
        padding: 0 3vw 0 0;
        margin: 0vw;
    }

    img {
        margin: 2vw;
        width: 5vw;
    }

    #img_menu {
        cursor: pointer;
        text-align: center;
        width: 30vw;
    }

    .menu_option {
        color: rgba(0, 0, 0, 0.57);
        cursor: pointer;
        font-size: 3.5vw;
        margin: 5vw 0;
    }
    
}

#whatsapp {
    bottom: 17vw;
}