@use "../sass/mixin" as *;
@use "../sass/variables" as *;

* {
    @include wiport();
}

html, body {
    @include body();
}

.box_redes {
    @include box-column();
    height: 20vh;
}

.box_social {
    @include box-column();
    color: rgba(0, 0, 0, 0.586);
    height: 6vh;
    width: 42vw;
}

#box_ubicacion {
    color: rgba(0, 0, 0, 0.586);
    display: flex;
    flex-direction: column;
    height: 35vh;
    justify-content: space-around;
    p {
        padding: 3vw;
    }
}

#box_boton {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.btn_subir {
    background-color: rgba(121, 194, 196, 0.762);
    border-radius: 20px;
    cursor: pointer;
    margin: 0 0 3vw 0;
    width: 10vw;
}

footer {
    @include box-column();
    background-image: url("../assets/img/fondo.png");
    background-size:cover;
    background-attachment: fixed;
    margin: 5vw 0 0 0;
    width: 100vw;
}

header{
    @include header();
    img {
        cursor: pointer;
        width:15vw;
    }

    #logo {
        width: 40vw;
    }
    
    #menu {
        @include box-row();
    }
}

.logo {
    width: 4vw;
}

#side_menu {
    background: rgba(88, 177, 226, 0.15);
    backdrop-filter: blur(1.5vw);
    -webkit-backdrop-filter: blur(1vw);
    border: 1px solid rgba(100, 175, 229, 0.3);    color: white;
    height: 100vh;
    padding: 3vw;
    position: fixed;
    right: -$menu-width;
    transition: right $transition-speed ease;
    top: 0;
    width: $menu-width;
    z-index: 1;

    &.active {
        right: 0;
    }

    #close_menu {
        cursor: pointer;
        font-size: 7vw;
        padding: 0 3vw 0 0;
        text-align: end;
        margin: 0vw;
    }

    img {
        margin: 2vw;
        width: 5vw;
    }

    #img_menu {
        cursor: pointer;
        text-align: center;
        width: 30vw;
    }

    .menu_option {
        color: rgba(0, 0, 0, 0.57);
        cursor: pointer;
        font-size: 3.5vw;
        margin: 5vw 0;
    }
    
}

main {
    
    @include box-column();
    
    .background_inter {
        @include opacar-bottom();
        background-color:#87D0CD;
        height: 5vh;
        
        width: 100vw;
    }

    #box_amalgama {
        @include box-centrado();
        color: white;

        #first_amalgama {
            h3 {
                margin: 3vw 0 3vw 0;
            }
            img {
                @include img-tratamientos();
            }
        }

        #second_amalgama {
            h4 {
                margin: 3vw 0 0 0;
            }
            img {
                @include img-tratamientos();
            }
        }

        h2 {
            text-align: center;
            margin: 2vw 0 3vw 0;
        }

        #intro_amalgama {
            @include box-row();
            margin: 3vw 0 3vw 0;
            img{
                margin: 0 2vw 0 0;
                width: 20vw;
            }
            width: 70vw;
        }

        p {
            color: white;
            margin: 2vw 0 2vw 0;
        }
    }

    #box_blanqueamiento {
        @include box-centrado();
        color: white;
        #first_blanqueamiento {
            img {
                @include img-tratamientos();
                margin: 2vw 0 2vw 0;
            }
        }
        
        h2 {
            text-align: center;
            font-size: 6vw;
            margin: 2vw 0 2vw 0;
        }

        h4 {
            font-size: 4vw;
        }

        #intro_blanqueamiento {
            @include box-row();
            h2 {
                font-size: 4.5vw;
            }
            img {
                margin: 2vw 0 2vw 0;
                width: 25vw;
            }
        }

        p {
            color: white;
            margin: 2vw 0 2vw 0;
        }

        #second_blanqueamiento {
            img {
                @include img-tratamientos();
            }
        }

        video {
            margin: 2vw 0 2vw 0;
            width: 90vw;
        }
    }
    
    #box_extraccion {
        @include box-centrado();
        em {
            color: rgba(0, 0, 0, 0.6);
            margin: 0 0 2vw 0;
        }
        h2{
            color: $titulo;
            font-size: 6vw;
        }
        h4 {
            color: $sub-titulo;
            font-size: 4vw;
            margin: 0vw 0 3vw 0;
            text-align:start;
            width: 90vw;
        }   
        #intro_extraccion {
            @include box-row();
            text-align: center;
            margin: 5vw 0 5vw 0;
            h2 {
                font-size: 5vw;
            }
            img {
                width: 10vw;
            }
            width: 70vw;
        }
        #text_introE {
            @include box-centrado();
        }
        p {
            margin: 2vw 0 2vw 0;
        }
        video {
            width: 90vw;
        }
    }

    #box_tratamientos {
        @include box-centrado();
    }
    
    #beginning_text {
        @include box-column();
        p{
            margin: 2vw 0 2vw 0;
        }
        width: 90vw;
    }
    
    #box_restauracion {
        @include box-centrado();
    }
    
    #background {
        @include background();
    }

    #box_rehabilitacion {
        @include box-centrado();
        color: white;
        h2 {
            font-size: 6vw; 
            text-align: center;
            width: 90vw;
        }
        p {
            color: white;
            font-size: 3.5vw;
            margin: 1vw 0 1vw 0;
        }
        width: 90vw;
    }

    #box_sarro {
        @include box-centrado();
        #after_sarro {
            @include box-centrado();
            img {
                @include img-tratamientos();
            }
            p {
                font-size: 3.5vw;
            }
        }
        
        #because_sarro {
            @include box-centrado();
            img {
                @include img-tratamientos();
            }
            p {
                font-size: 3.5vw;
            }
        }
        
        h2 {
            color: $titulo;
            font-size: 6vw;
            margin: 2vw 0 2vw 0;
        }
        
        img {
            margin: 2vw 0 2vw 0;
        }
        #intro_sarro {
            @include box-row();
            color: $sub-titulo;
            font-size: 4vw;
            img {
                width: 23vw;
            }
            width: 70vw;
        }
        
        p {
            margin: 2vw 0 2vw 0;
        }

        #text_introS {
            @include box-centrado();
            p {
                font-size: 3.5vw;
            }
        }    
    }
    
    #caso_rehabilitacion {
        @include box-centrado();
        h3 {
            font-size: 5vw;
            margin: 2vw 0 2vw 0;
            text-align: center;
        }
        h4 {
            font-size: 5vw;
            margin: 2vw 0 2vw 0;
            width: 90vw;
        }
        img {
            @include img-tratamientos();
            margin: 2vw 0 2vw 0;
        }
        p {
            color: white;
            margin: 1vw 0 1vw 0;
        }
    }
    
    #caso_fractura{
        @include box-centrado();
        h3 {
            font-size: 5vw;
            color: $titulo;
            text-align: center;
        }
        h4 {
            color: $sub-titulo;
            font-size: 5vw;
            margin: 2vw 0 2vw 0;
        }
        img {
            @include img-tratamientos();
        }
        margin: 5vw 0 0 0;
        p {
            margin: 1vw 0 1vw 0;
        }
    }
    
    #final_fractura {
        @include box-centrado();
        h3 {
            color: $titulo;
            font-size: 6vw;
            margin: 0vw 0 2vw 0;
        }
        img {
            @include img-tratamientos();
            margin: 2vw 0 0vw 0;
        }
        margin: 5vw 0 0vw 0;
    }
    
    h1 {
        color: $titulo;
        font-size: 8vw;
        margin: 3vw 0 3vw 0;
    }

    #intro_rehabilitacion {
        @include box-row();
        h3 {
            font-size: 6vw;
            text-align: center;
            width: 90vw;
        }
        img {
            width: 10vw;
        }
        width: 90vw;
    }
    
    #intro_restauracion {
        @include box-centrado();
        height: 70vw;
    }
    
    li {
        color: $sub-titulo;
        font-size: 3.5vw;
        margin: 2vw 0 2vw 0;
    }
    
    #muela {
        margin: 8vw 0 0 0;
        width: 13vw;
    }
   
    #pasos_rehabilitacion {
        @include box-centrado;
        #fourth_rehabilitacion {
            h4 {
                font-size: 4.5vw;
                margin: 0 0 3vw 0;
            }
            p {
                font-size: 3vw;
            }
        }
        #firs_rehabilitacion {
            h4 {
                font-size: 4.5vw;
                margin: 0 0 3vw 0;
            }
            p {
                font-size: 3vw;
            }
        }
        h2 {
            font-size: 7vw;
            margin: 2vw 0 2vw 0;
        }
        img {
            @include img-tratamientos();
            margin: 2vw 0 2vw 0;
        }
        #second_rehabilitacion {
            h4 {
                font-size: 4.5vw;
                margin: 0 0 3vw 0;
            }
            p {
                font-size: 3vw;
            }
        }
        #third_rehabilitacion {
            h4 {
                font-size: 4.5vw;
                text-align: center;
                margin: 0 0 3vw 0;
            }
            p {
                font-size: 3vw;
            }
        }
    }
    
    p {
        color: rgba(24, 24, 24, 0.636);
        font-size: 3vw;
    }

    #second_background {
        @include background();
    }

    #slogan {
        color: $sub-titulo;
        font-size: 4.2vw;
        margin: 4vw 0 0vw 2vw;
    }
    
    #sub_restauracion {
        @include box-row();
        color: $sub-titulo;
        img {
            margin: 0 3vw 0 0;
            width: 10vw;
        }
        h3 {
            font-size: 4vw;
        }
        width: 50vw;
    }
    
    #second_sarro {
        @include box-centrado();
        
        h2 {
            font-size: 5vw;
        }

        p {
            font-size: 3.5vw;
        }

        #intro_sarroSecond{
            @include box-row();
            img{
                width: 20vw;
            }
        }

        #first_sarroSecond {
            @include box-column ();
            img {
                @include img-tratamientos();
                width: 90vw;
            }
            text-align: center;
        }

        #second_sarroSecond {
            @include box-column ();
            color: $sub-titulo;
            img {
                @include img-tratamientos();
            }
            p {
                font-size: 3vw;
            }
            text-align: center;
            width: 90vw;
        }
    }

    #seg_fractura {
        @include box-centrado();
        #firs_fractura {
            @include box-centrado();
            margin: 3vw 0 0 0;
            strong {
                align-items: start;
                color: $sub-titulo;
                font-size: 4vw;
                width: 90vw;
            }
        }
        h3 {
            font-size: 5vw;
            color: $titulo;
        }            
        margin: 5vw 0 0 0;    
        #second_fractura {
            @include box-centrado();
            margin: 3vw 0 0 0;
            strong {
                align-items: start;
                color: $sub-titulo;
                font-size: 4vw;
                width: 90vw;
            }
            
        }

        #third_fractura {
            @include box-centrado();
            margin: 3vw 0 0 0;
            strong {
                align-items: start;
                color: $sub-titulo;
                font-size: 4vw;
                width: 90vw;
            }
        }

        #fourth_fractura {
            @include box-centrado();
            margin: 3vw 0 0 0;
            strong {
                align-items: start;
                color: $sub-titulo;
                font-size: 4vw;
                width: 90vw;
            }
        }

        #fifth_fractura {
            @include box-centrado();
            margin: 3vw 0 0 0;
            strong {
                align-items: start;
                color: $sub-titulo;
                font-size: 4vw;
                width: 90vw;
            }
        }
    }

    #third_background {
        @include background ();
    }
    
    #title_restauracion {
        color: $titulo;
        font-size: 5vw;
        margin: 8vw 0 4vw 4vw;
    }
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li::before {
    background-image: url("../assets/img/viñetaFracturada.png");
    background-size: contain;
    content: "";
    display: inline-block;
    height: 5vw;
    margin-right: 1vw;
    vertical-align: middle;
    width: 5vw;
}
