@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html, body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 16px;
  justify-content: space-between;
  overflow-x: hidden;
}

.box_redes {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20vh;
}

.box_social {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: rgba(0, 0, 0, 0.586);
  height: 6vh;
  width: 42vw;
}

#box_ubicacion {
  color: rgba(0, 0, 0, 0.586);
  display: flex;
  flex-direction: column;
  height: 35vh;
  justify-content: space-around;
}
#box_ubicacion p {
  padding: 3vw;
}

#box_boton {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.btn_subir {
  background-color: rgba(121, 194, 196, 0.762);
  border-radius: 20px;
  cursor: pointer;
  margin: 0 0 3vw 0;
  width: 10vw;
}

footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url("../assets/img/fondo.png");
  background-size: cover;
  background-attachment: fixed;
  margin: 5vw 0 0 0;
  width: 100vw;
}

header {
  align-items: center;
  background-color: rgb(238, 249, 250);
  display: flex;
  flex-direction: row;
  height: 15vh;
  justify-content: space-around;
  width: 100vw;
}
header img {
  cursor: pointer;
  width: 15vw;
}
header #logo {
  width: 40vw;
}
header #menu {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.logo {
  width: 4vw;
}

#side_menu {
  background: rgba(88, 177, 226, 0.15);
  backdrop-filter: blur(1.5vw);
  -webkit-backdrop-filter: blur(1vw);
  border: 1px solid rgba(100, 175, 229, 0.3);
  color: white;
  height: 100vh;
  padding: 3vw;
  position: fixed;
  right: -40vw;
  transition: right 0.3s ease;
  top: 0;
  width: 40vw;
  z-index: 1;
}
#side_menu.active {
  right: 0;
}
#side_menu #close_menu {
  cursor: pointer;
  font-size: 7vw;
  padding: 0 3vw 0 0;
  text-align: end;
  margin: 0vw;
}
#side_menu img {
  margin: 2vw;
  width: 5vw;
}
#side_menu #img_menu {
  cursor: pointer;
  text-align: center;
  width: 30vw;
}
#side_menu .menu_option {
  color: rgba(0, 0, 0, 0.57);
  cursor: pointer;
  font-size: 3.5vw;
  margin: 5vw 0;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
main .background_inter {
  mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
  background-color: #87D0CD;
  height: 5vh;
  width: 100vw;
}
main #box_amalgama {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90vw;
  color: white;
}
main #box_amalgama #first_amalgama h3 {
  margin: 3vw 0 3vw 0;
}
main #box_amalgama #first_amalgama img {
  border-radius: 0vw 40vw 0vw 40vw;
  width: 90vw;
}
main #box_amalgama #second_amalgama h4 {
  margin: 3vw 0 0 0;
}
main #box_amalgama #second_amalgama img {
  border-radius: 0vw 40vw 0vw 40vw;
  width: 90vw;
}
main #box_amalgama h2 {
  text-align: center;
  margin: 2vw 0 3vw 0;
}
main #box_amalgama #intro_amalgama {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 3vw 0 3vw 0;
  width: 70vw;
}
main #box_amalgama #intro_amalgama img {
  margin: 0 2vw 0 0;
  width: 20vw;
}
main #box_amalgama p {
  color: white;
  margin: 2vw 0 2vw 0;
}
main #box_extraccion {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90vw;
}
main #box_extraccion h2 {
  color: #87D0CD;
  font-size: 6vw;
}
main #box_extraccion h4 {
  color: #86D3DC;
  font-size: 4vw;
  margin: 0vw 0 3vw 0;
  text-align: start;
  width: 90vw;
}
main #box_extraccion #intro_extraccion {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  margin: 5vw 0 5vw 0;
  width: 70vw;
}
main #box_extraccion #intro_extraccion h2 {
  font-size: 5vw;
}
main #box_extraccion #intro_extraccion img {
  width: 10vw;
}
main #box_extraccion #text_introE {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90vw;
}
main #box_extraccion p {
  margin: 2vw 0 2vw 0;
}
main #box_extraccion video {
  width: 90vw;
}
main #box_tratamientos {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90vw;
}
main #beginning_text {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90vw;
}
main #beginning_text p {
  margin: 2vw 0 2vw 0;
}
main #box_restauracion {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90vw;
}
main #background {
  mask-image: linear-gradient(to top, black 90%, transparent 100%);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: linear-gradient(to top, black 90%, transparent 100%);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90vw;
  background-color: #87D0CD;
  padding: 30vw 0 0 0;
  width: 100vw;
}
main #box_rehabilitacion {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90vw;
  color: white;
  width: 90vw;
}
main #box_rehabilitacion h2 {
  font-size: 6vw;
  text-align: center;
  width: 90vw;
}
main #box_rehabilitacion p {
  color: white;
  font-size: 3.5vw;
  margin: 1vw 0 1vw 0;
}
main #box_sarro {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90vw;
}
main #box_sarro #after_sarro {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90vw;
}
main #box_sarro #after_sarro img {
  border-radius: 0vw 40vw 0vw 40vw;
  width: 90vw;
}
main #box_sarro #after_sarro p {
  font-size: 3.5vw;
}
main #box_sarro #because_sarro {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90vw;
}
main #box_sarro #because_sarro img {
  border-radius: 0vw 40vw 0vw 40vw;
  width: 90vw;
}
main #box_sarro #because_sarro p {
  font-size: 3.5vw;
}
main #box_sarro h2 {
  color: #87D0CD;
  font-size: 6vw;
  margin: 2vw 0 2vw 0;
}
main #box_sarro img {
  margin: 2vw 0 2vw 0;
}
main #box_sarro #intro_sarro {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #86D3DC;
  font-size: 4vw;
  width: 70vw;
}
main #box_sarro #intro_sarro img {
  width: 23vw;
}
main #box_sarro p {
  margin: 2vw 0 2vw 0;
}
main #box_sarro #text_introS {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90vw;
}
main #box_sarro #text_introS p {
  font-size: 3.5vw;
}
main #caso_rehabilitacion {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90vw;
}
main #caso_rehabilitacion h3 {
  font-size: 5vw;
  margin: 2vw 0 2vw 0;
  text-align: center;
}
main #caso_rehabilitacion h4 {
  font-size: 5vw;
  margin: 2vw 0 2vw 0;
  width: 90vw;
}
main #caso_rehabilitacion img {
  border-radius: 0vw 40vw 0vw 40vw;
  width: 90vw;
  margin: 2vw 0 2vw 0;
}
main #caso_rehabilitacion p {
  color: white;
  margin: 1vw 0 1vw 0;
}
main #caso_fractura {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90vw;
  margin: 5vw 0 0 0;
}
main #caso_fractura h3 {
  font-size: 5vw;
  color: #87D0CD;
  text-align: center;
}
main #caso_fractura h4 {
  color: #86D3DC;
  font-size: 5vw;
  margin: 2vw 0 2vw 0;
}
main #caso_fractura img {
  border-radius: 0vw 40vw 0vw 40vw;
  width: 90vw;
}
main #caso_fractura p {
  margin: 1vw 0 1vw 0;
}
main #final_fractura {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90vw;
  margin: 5vw 0 0vw 0;
}
main #final_fractura h3 {
  color: #87D0CD;
  font-size: 6vw;
  margin: 0vw 0 2vw 0;
}
main #final_fractura img {
  border-radius: 0vw 40vw 0vw 40vw;
  width: 90vw;
  margin: 2vw 0 0vw 0;
}
main h1 {
  color: #87D0CD;
  font-size: 8vw;
  margin: 3vw 0 3vw 0;
}
main #intro_rehabilitacion {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90vw;
}
main #intro_rehabilitacion h3 {
  font-size: 6vw;
  text-align: center;
  width: 90vw;
}
main #intro_rehabilitacion img {
  width: 10vw;
}
main #intro_restauracion {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90vw;
  height: 70vw;
}
main li {
  color: #86D3DC;
  font-size: 3.5vw;
  margin: 2vw 0 2vw 0;
}
main #muela {
  margin: 8vw 0 0 0;
  width: 13vw;
}
main #pasos_rehabilitacion {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90vw;
}
main #pasos_rehabilitacion #fourth_rehabilitacion h4 {
  font-size: 4.5vw;
  margin: 0 0 3vw 0;
}
main #pasos_rehabilitacion #fourth_rehabilitacion p {
  font-size: 3vw;
}
main #pasos_rehabilitacion #firs_rehabilitacion h4 {
  font-size: 4.5vw;
  margin: 0 0 3vw 0;
}
main #pasos_rehabilitacion #firs_rehabilitacion p {
  font-size: 3vw;
}
main #pasos_rehabilitacion h2 {
  font-size: 7vw;
  margin: 2vw 0 2vw 0;
}
main #pasos_rehabilitacion img {
  border-radius: 0vw 40vw 0vw 40vw;
  width: 90vw;
  margin: 2vw 0 2vw 0;
}
main #pasos_rehabilitacion #second_rehabilitacion h4 {
  font-size: 4.5vw;
  margin: 0 0 3vw 0;
}
main #pasos_rehabilitacion #second_rehabilitacion p {
  font-size: 3vw;
}
main #pasos_rehabilitacion #third_rehabilitacion h4 {
  font-size: 4.5vw;
  text-align: center;
  margin: 0 0 3vw 0;
}
main #pasos_rehabilitacion #third_rehabilitacion p {
  font-size: 3vw;
}
main p {
  color: rgba(24, 24, 24, 0.636);
  font-size: 3vw;
}
main #second_background {
  mask-image: linear-gradient(to top, black 90%, transparent 100%);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-image: linear-gradient(to top, black 90%, transparent 100%);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90vw;
  background-color: #87D0CD;
  padding: 30vw 0 0 0;
  width: 100vw;
}
main #slogan {
  color: #86D3DC;
  font-size: 4.2vw;
  margin: 4vw 0 0vw 2vw;
}
main #sub_restauracion {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #86D3DC;
  width: 50vw;
}
main #sub_restauracion img {
  margin: 0 3vw 0 0;
  width: 10vw;
}
main #sub_restauracion h3 {
  font-size: 4vw;
}
main #second_sarro {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90vw;
}
main #second_sarro h2 {
  font-size: 5vw;
}
main #second_sarro p {
  font-size: 3.5vw;
}
main #second_sarro #intro_sarroSecond {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
main #second_sarro #intro_sarroSecond img {
  width: 20vw;
}
main #second_sarro #first_sarroSecond {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
main #second_sarro #first_sarroSecond img {
  border-radius: 0vw 40vw 0vw 40vw;
  width: 90vw;
  width: 90vw;
}
main #second_sarro #second_sarroSecond {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #86D3DC;
  text-align: center;
  width: 90vw;
}
main #second_sarro #second_sarroSecond img {
  border-radius: 0vw 40vw 0vw 40vw;
  width: 90vw;
}
main #second_sarro #second_sarroSecond p {
  font-size: 3vw;
}
main #seg_fractura {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90vw;
  margin: 5vw 0 0 0;
}
main #seg_fractura #firs_fractura {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90vw;
  margin: 3vw 0 0 0;
}
main #seg_fractura #firs_fractura strong {
  align-items: start;
  color: #86D3DC;
  font-size: 4vw;
  width: 90vw;
}
main #seg_fractura h3 {
  font-size: 5vw;
  color: #87D0CD;
}
main #seg_fractura #second_fractura {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90vw;
  margin: 3vw 0 0 0;
}
main #seg_fractura #second_fractura strong {
  align-items: start;
  color: #86D3DC;
  font-size: 4vw;
  width: 90vw;
}
main #seg_fractura #third_fractura {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90vw;
  margin: 3vw 0 0 0;
}
main #seg_fractura #third_fractura strong {
  align-items: start;
  color: #86D3DC;
  font-size: 4vw;
  width: 90vw;
}
main #seg_fractura #fourth_fractura {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90vw;
  margin: 3vw 0 0 0;
}
main #seg_fractura #fourth_fractura strong {
  align-items: start;
  color: #86D3DC;
  font-size: 4vw;
  width: 90vw;
}
main #seg_fractura #fifth_fractura {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90vw;
  margin: 3vw 0 0 0;
}
main #seg_fractura #fifth_fractura strong {
  align-items: start;
  color: #86D3DC;
  font-size: 4vw;
  width: 90vw;
}
main #title_restauracion {
  color: #87D0CD;
  font-size: 5vw;
  margin: 8vw 0 4vw 4vw;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li::before {
  background-image: url("../assets/img/viñetaFracturada.png");
  background-size: contain;
  content: "";
  display: inline-block;
  height: 5vw;
  margin-right: 1vw;
  vertical-align: middle;
  width: 5vw;
}/*# sourceMappingURL=tratamientos.css.map */