@use "../sass/mixin" as *;
@use "../sass/variables" as *;
@use "../sass/footer" as *;
@use "../sass/header" as *;

* {
    @include wiport();
}

html, body {
    @include body();
}

button {
    @include boton();
}

#box_boton {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100vw;
}

footer {
    @include footer();
}

header{
    @include header();
}

#side_menu {
    background: rgba(88, 177, 226, 0.15);
    backdrop-filter: blur(1.5vw);
    -webkit-backdrop-filter: blur(1vw);
    border: 1px solid rgba(100, 175, 229, 0.3);    color: white;
    height: 100vh;
    padding: 3vw;
    position: fixed;
    right: -$menu-width;
    transition: right $transition-speed ease;
    top: 0;
    width: $menu-width;
    z-index: 1;

    &.active {
        right: 0;
    }

    #close_menu {
        cursor: pointer;
        font-size: 7vw;
        padding: 0 3vw 0 0;
        text-align: end;
        margin: 0vw;
    }

    img {
        margin: 2vw;
        width: 5vw;
    }

    #img_menu {
        cursor: pointer;
        text-align: center;
        width: 30vw;
    }

    .menu_option {
        color: rgba(0, 0, 0, 0.57);
        cursor: pointer;
        font-size: 3.5vw;
        margin: 5vw 0;
    }
    
}

main {
    
    @include box-column();
    
    .background_inter {
        @include opacar-bottom();
        background-color:#87D0CD;
        height: 5vh;
        
        width: 100vw;
    }

    #box_amalgama {
        @include box-centrado();
        color: white;
        #sub_titulo_laptop {
            display: none;
        }
        #first_amalgama {
            @include box-column();
            h3 {
                margin: 3vw 0 3vw 0;
            }
            img {
                @include img-tratamientos();
            }
        }

        #second_amalgama {
            @include box-column();
            h4 {
                margin: 3vw 0 0 0;
            }
            img {
                @include img-tratamientos();
            }
        }

        h2 {
            text-align: center;
            margin: 2vw 0 3vw 0;
        }

        #intro_amalgama {
            @include box-row();
            margin: 3vw 0 3vw 0;
            img{
                margin: 0 2vw 0 0;
                width: 20vw;
            }
            width: 70vw;
        }

        p {
            color: white;
            margin: 2vw 0 2vw 0;
        }
    }

    #box_blanqueamiento {
        @include box-centrado();
        color: white;
        #first_blanqueamiento {
            @include box-column();
            img {
                @include img-tratamientos();
                margin: 2vw 0 2vw 0;
            }
        }
        
        h2 {
            text-align: center;
            font-size: 6vw;
            margin: 2vw 0 2vw 0;
        }

        h4 {
            font-size: 4vw;
        }

        #intro_blanqueamiento {
            @include box-row();
            h2 {
                font-size: 4.5vw;
            }
            img {
                margin: 2vw 0 2vw 0;
                width: 25vw;
            }
        }

        p {
            color: white;
            margin: 2vw 0 2vw 0;
        }

        #second_blanqueamiento {
            @include box-column();
            img {
                @include img-tratamientos();
            }
        }

        video {
            margin: 2vw 0 2vw 0;
            width: 70vw;
        }
        #third_blanqueamiento {
            @include box-centrado();
        }
    }
    
    #box_extraccion {
        @include box-centrado();
        em {
            color: rgba(0, 0, 0, 0.6);
            margin: 0 0 2vw 0;
        }
        h2{
            color: $titulo;
            font-size: 6vw;
        }
        h4 {
            color: $sub-titulo;
            font-size: 4vw;
            margin: 0vw 0 3vw 0;
            text-align:start;
            width: 90vw;
        }   
        #intro_extraccion {
            @include box-row();
            text-align: center;
            margin: 5vw 0 5vw 0;
            h2 {
                font-size: 5vw;
            }
            img {
                width: 10vw;
            }
            width: 70vw;
        }
        #text_introE {
            @include box-centrado();
        }
        p {
            margin: 2vw 0 2vw 0;
        }
        video {
            margin: 2vw 0 2vw 0;
            width: 70vw;
        }
        #first_extraccion {
            @include box-centrado();
        }
    }

    #box_tratamientos {
        @include box-centrado();
    }
    
    #beginning_text {
        @include box-column();
        p{
            margin: 2vw 0 2vw 0;
        }
        width: 90vw;
    }
    
    #box_restauracion {
        @include box-centrado();
    }
    
    #background {
        @include background();
        @media (min-width: 769.98px) {
            padding: 13vw 0 0 0;
        }
    }

    #box_rehabilitacion {
        @include box-centrado();
        color: white;
        h2 {
            font-size: 5vw; 
            text-align: center;
            width: 90vw;
        }
        p {
            color: white;
            font-size: 3vw;
            margin: 1vw 0 1vw 0;
        }
        width: 90vw;
    }

    #box_sarro {
        @include box-centrado();
        #after_sarro {
            @include box-centrado();
            img {
                @include img-tratamientos();
            }
            p {
                font-size: 3.5vw;
            }
        }
        
        #because_sarro {
            @include box-centrado();
            img {
                @include img-tratamientos();
            }
            p {
                font-size: 3.5vw;
            }
        }
        
        h2 {
            color: $titulo;
            font-size: 6vw;
            margin: 2vw 0 2vw 0;
        }
        
        img {
            margin: 2vw 0 2vw 0;
        }
        #intro_sarro_laptop {
            display: none;
        }
        #intro_sarro {
            @include box-row();
            color: $sub-titulo;
            font-size: 4vw;
            img {
                width: 23vw;
            }
            width: 70vw;
        }
        
        p {
            margin: 2vw 0 2vw 0;
        }

        #text_introS {
            @include box-centrado();
            p {
                font-size: 3.5vw;
            }
        }    
    }
    
    #caso_rehabilitacion {
        @include box-centrado();
        h3 {
            font-size: 5vw;
            margin: 2vw 0 2vw 0;
            text-align: center;
        }
        h4 {
            font-size: 5vw;
            margin: 2vw 0 2vw 0;
            width: 90vw;
        }
        img {
            @include img-tratamientos();
            margin: 2vw 0 2vw 0;
        }
        p {
            color: white;
            margin: 1vw 0 1vw 0;
        }
    }
    
    #caso_fractura{
        @include box-centrado();
        h3 {
            font-size: 5vw;
            color: $titulo;
            text-align: center;
        }
        h4 {
            color: $sub-titulo;
            font-size: 5vw;
            margin: 2vw 0 2vw 0;
        }
        img {
            @include img-tratamientos();
        }
        margin: 5vw 0 0 0;
        p {
            margin: 1vw 0 1vw 0;
        }
    }
    
    #final_fractura {
        @include box-centrado();
        h3 {
            color: $titulo;
            font-size: 6vw;
            margin: 0vw 0 2vw 0;
        }
        img {
            @include img-tratamientos();
            margin: 3vw 0 0vw 0;
        }
        margin: 5vw 0 0vw 0;
    }
    
    h1 {
        color: $titulo;
        font-size: 8vw;
        margin: 3vw 0 3vw 0;
    }

    #intro_rehabilitacion {
        display: flex;
        justify-content: space-evenly;
        margin: 2vw 0 2vw 0;
        h3 {
            font-size: 5vw;
            text-align: center;
            width: 70vw;
            margin: 2vw 0 2vw 0;
        }
        img {
            width: 10vw;
        }
        width: 90vw;
    }
    
    #intro_restauracion {
        @include box-centrado();
        height: 70vw;
    }
    
    li {
        color: $sub-titulo;
        font-size: 3.5vw;
        margin: 2vw 0 2vw 0;
    }
    
    #muela {
        margin: 8vw 0 0 0;
        width: 13vw;
    }
   
    #pasos_rehabilitacion {
        @include box-centrado;
        .pasos_rehabilitacion_laptop {
            @include box-centrado ();
        }
        #fourth_rehabilitacion {
            h4 {
                font-size: 4vw;
                margin: 0 0 3vw 0;
            }
            p {
                font-size: 3vw;
            }
        }
        #firs_rehabilitacion {
            @include box-centrado();
            h4 {
                font-size: 4vw;
                margin: 0 0 3vw 0;
            }
            p {
                font-size: 2.5vw;
            }
        }
        h2 {
            font-size: 7vw;
            margin: 2vw 0 2vw 0;
        }
        img {
            @include img-tratamientos();
            margin: 2vw 0 2vw 0;
        }
        #second_rehabilitacion {
            h4 {
                font-size: 4.5vw;
                margin: 0 0 3vw 0;
            }
            p {
                font-size: 3vw;
            }
        }
        #third_rehabilitacion {
            h4 {
                font-size: 4.5vw;
                text-align: center;
                margin: 0 0 3vw 0;
            }
            p {
                font-size: 3vw;
            }
        }
    }
    
    p {
        color: rgba(24, 24, 24, 0.636);
        font-size: 3vw;
    }

    #second_background {
        @include background();
    }

    #slogan {
        color: $sub-titulo;
        font-size: 4.2vw;
        margin: 4vw 0 0vw 2vw;
    }
    
    #sub_restauracion {
        @include box-row();
        color: $sub-titulo;
        img {
            margin: 0 3vw 0 0;
            width: 10vw;
        }
        h3 {
            font-size: 4vw;
        }
        width: 50vw;
    }
    
    #second_sarro {
        @include box-centrado();
        
        h2 {
            font-size: 5vw;
        }

        p {
            font-size: 3.5vw;
        }

        #intro_sarroSecond{
            @include box-row();
            img{
                width: 20vw;
            }
        }

        #first_sarroSecond {
            @include box-column ();
            img {
                @include img-tratamientos();
                width: 50vw;
            }
            text-align: center;
        }

        #second_sarroSecond {
            @include box-column ();
            color: $sub-titulo;
            img {
                @include img-tratamientos();
            }
            p {
                font-size: 3vw;
            }
            text-align: center;
            width: 90vw;
        }
    }

    #seg_fractura {
        @include box-centrado();
        #firs_fractura {
            @include box-centrado();
            margin: 3vw 0 0 0;
            strong {
                align-items: start;
                color: $sub-titulo;
                font-size: 4vw;
                width: 90vw;
            }
        }
        h3 {
            font-size: 5vw;
            color: $titulo;
        }            
        margin: 5vw 0 0 0;    
        #second_fractura {
            @include box-centrado();
            margin: 3vw 0 0 0;
            strong {
                align-items: start;
                color: $sub-titulo;
                font-size: 4vw;
                width: 90vw;
            }
            
        }

        #third_fractura {
            @include box-centrado();
            margin: 3vw 0 0 0;
            strong {
                align-items: start;
                color: $sub-titulo;
                font-size: 4vw;
                width: 90vw;
            }
        }

        #fourth_fractura {
            @include box-centrado();
            margin: 3vw 0 0 0;
            strong {
                align-items: start;
                color: $sub-titulo;
                font-size: 4vw;
                width: 90vw;
            }
        }

        #fifth_fractura {
            @include box-centrado();
            margin: 3vw 0 0 0;
            strong {
                align-items: start;
                color: $sub-titulo;
                font-size: 4vw;
                width: 90vw;
            }
        }
    }



    #third_background {
        @include background ();
        @media (min-width: 769.98px) {
            padding: 13vw 0 0 0;
        }
    }
    
    #title_restauracion {
        color: $titulo;
        font-size: 5vw;
        margin: 8vw 0 4vw 4vw;
    }
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li::before {
    background-image: url("../assets/img/viñetaFracturada.png");
    background-size: contain;
    content: "";
    display: inline-block;
    height: 5vw;
    margin-right: 1vw;
    vertical-align: middle;
    width: 5vw;
}

@media (min-width: 481.98px) {
    main {
        @include box-centrado();
        width: 70vw;
        #beginning_text {
            h1 {
                font-size: 4vw;
            }
            p {
                font-size: 1.8vw;
            }
            width: 70vw;
        }
        #slogan {
            text-align: center;
            font-size: 2.5vw;
            margin: 1vw 0 0 0;
        }
        #muela {
            margin: 2vw 0 0 0;
            width: 9vw;
        }
        #sub_restauracion {
            img {
                margin: 0vw;
                width: 7vw;
            }
        }

        #box_tratamientos {
            width: 70vw;
            #box_restauracion {
                h2 {
                    font-size: 3.5vw;
                }
                h3 {
                    text-align: center;
                    font-size: 3vw;
                }
                h4 {
                    font-size: 3vw;
                }
                #title_restauracion {
                    margin: 2vw 0 2vw 0;
                }
                #sub_restauracion {
                    width: 40vw;
                }
                p {
                    font-size: 2vw;
                }
                width: 70vw;
            }
            #intro_restauracion {
                width: 70vw;
                p {
                    font-size: 2vw;
                }
                li {
                    font-size: 2.5vw;
                }
            }
            #caso_fractura {
                width: 70vw;
            }
            #seg_fractura {
                width: 70vw;
                strong {
                    width: 70vw;
                    font-size: 2.5vw;
                }
                p {
                    width: 70vw;
                    font-size: 2vw;
                }
            }
            #final_fractura {
                width: 70vw;
            }
            #box_rehabilitacion {
                width: 70vw;
                h2 {
                    font-size: 3.5vw;
                }
                h3 {
                    font-size: 3vw;
                    margin: 1vw 0 0 0;
                }
                p {
                    font-size: 2vw;
                }
                #intro_rehabilitacion {
                    width: 50vw;
                    img {
                        height: 12vh;
                        width: 7vw;
                    }
                }
                #caso_rehabilitacion {
                    width: 70vw;
                    h4 {
                        font-size: 3vw;
                        width: 70vw;
                    }
                }
                #pasos_rehabilitacion {
                    width: 70vw;
                    .pasos_rehabilitacion_laptop{
                        width: 70vw;
                        p {
                            width: 70vw;
                        }
                        h4 {
                            font-size: 3vw;
                        }
                        #firs_rehabilitacion {
                            width: 70vw;
                            margin: 0 0 2vw 0;
                            h4 {
                                width: 70vw;
                            }
                        }
                    }
                }

            }
            #box_sarro {
                width: 70vw;
                p {
                    font-size: 2vw;
                    width: 70vw;
                }
                h2 {
                    font-size: 3.5vw;
                    text-align: center;
                    width: 70vw;
                }
                #intro_sarro {
                    font-size: 3vw;
                    text-align: center;
                    width: 50vw;
                    img {
                        width: 11vw;
                    }
                }
                #intro_sarroSecond {
                    width: 50vw;
                    h2 {
                        font-size: 2.8vw;
                    }
                    img {
                        width: 12vw;
                    }
                }
            }
            #box_amalgama {
                width: 70vw;
                #intro_amalgama {
                    width: 50vw;
                    text-align: center;
                    img {
                        width: 13vw;
                    }
                }
                p {
                    font-size: 2vw;
                }
                h4 {
                    font-size: 2.5vw;
                }
            }
            #box_extraccion {
                width: 70vw;
                p {
                    font-size: 2vw;
                    width: 70vw;
                }
                em {
                    width: 70vw;
                }
                h4 {
                    width: 70vw;
                }
                h2 {
                    font-size: 3.5vw;
                }
                #intro_extraccion {
                    width: 50vw;
                    img {
                        width: 7vw;
                    }
                }
                video {
                    width: 50vw;
                }
            }
            #box_blanqueamiento {
                width: 70vw;
                p {
                    font-size: 2vw;
                }
                h2 {
                    font-size: 3.5vw;
                }
                #intro_blanqueamiento {
                    width: 50vw;
                    h2 {
                        font-size: 2.5vw;
                    }
                    img {
                        width: 13vw;
                    }
                }
                #third_blanqueamiento {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
                video {
                    
                    width: 50vw;
                }
            }
        }
    }
}
@media (min-width: 769.98px) {
main {
    #second_background {
        padding: 10vw 0 7vw 0;
    }
    #beginning_text {
            @include box-row();
            flex-wrap: wrap;
            h1 {
                font-size: 2.5vw;
                text-align: center;
                margin: 2vw 0 0vw 0;
                width: 70vw;
            }
            p {
                font-size: 1.1vw;
                width: 34vw;
            }
        }
        #slogan {
            font-size: 2vw;
            margin: 0vw;
        }
        #muela {
            margin: 3vw 0 0 0vw;
            width: 5vw;
        }
        #box_tratamientos {
            width: 70vw;

            #box_restauracion {
                h2 {
                    font-size: 2.5vw;
                }
                #intro_restauracion {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    padding: 2vw 0 2vw 0;
                    height: auto;
                    p {
                        font-size: 1.1vw;
                        text-align: center;
                        width: 60vw;
                    }
                    ul {
                        display: flex;
                        justify-content: space-around;
                        flex-wrap: wrap;
                        margin: 3vw 0 3vw 0;
                        width: 55vw;
                        li {
                            font-size: 1.1vw;
                            width: 26vw;
                            margin: 1vw 0 1vw 0;
                        }
                    }
                    ul li::before {
                        width: 2vw;
                        height: 2vw;
                    }
                    #sub_restauracion {
                        margin: 0 0 2vw 0;
                        width: 20vw;
                        h3 {
                            font-size: 2vw;
                        }
                        img {
                            width: 3.5vw;
                        }
                    }
                }
                #caso_fractura {
                    flex-wrap: wrap;
                    flex-direction: row;
                    h3 {
                        font-size: 2vw;
                        margin: 0 0 3vw 0;
                    }
                    h4 {
                        font-size: 2vw;
                        margin: 0 0 1vw 0;
                    }
                    p {
                        font-size: 1.1vw;
                        margin: 0vw;
                        width: 35vw;
                    }
                    img {
                        width: 20vw;
                    }
                    #caso_fractura_text {
                        width: 35vw;
                    }
                }
                #seg_fractura {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    h3 {
                        font-size: 2vw;
                        width: 70vw;
                    }
                    strong {
                        font-size: 1.3vw;
                        width: 33vw;
                    }
                    p {
                        font-size: 1.1vw;
                        width: 33vw;
                    }
                    #firs_fractura,
                    #second_fractura,
                    #third_fractura,
                    #fourth_fractura,
                    #fifth_fractura {
                        width: 33vw;
                        margin-bottom: 1.5vw;
                    }
                }
                #final_fractura {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    margin: 1vw 0 0 0;
                    h3 {
                        font-size: 2vw;
                        width: 70vw;
                    }
                    img {
                        margin: 0vw;
                        width: 20vw;
                    }
                    p {
                        font-size: 1.3vw;
                        width: 30vw;
                    }
                }
            }
            #box_rehabilitacion {
                h2 {
                    font-size: 2vw;
                }
                p {
                    font-size: 1.1vw;
                    width: 50vw;
                }
                #intro_rehabilitacion {
                    width: 35vw;
                    img {
                        height: 10vh;
                        width: 5vw;
                    }
                    h3 {
                        font-size: 2vw;
                        text-align: center;
                    }
                }
                #caso_rehabilitacion {
                    flex-wrap: wrap;
                    flex-direction: row;
                    width: 70vw;
                    h4 {
                        font-size: 2vw;
                        width: 35vw;
                    }
                    #caso_rehabilitacion_text {
                        width: 35vw;
                    }
                    img {
                        width: 25vw;
                    }
                    p {
                        width: 42vw;
                    }
                }
                #pasos_rehabilitacion {
                    width: 70vw;
                    .pasos_rehabilitacion_laptop{
                        flex-wrap: wrap;
                        flex-direction: row;
                        width: 70vw;
                        p {
                            width: 50vw;
                        }
                        h4 {
                            font-size: 2vw;
                            margin: 0 0 1vw 0;
                        }
                        #firs_rehabilitacion {
                            width: 33vw;
                            margin: 0 0 1.5vw 0;
                            h4 {
                                width: 33vw;
                            }
                            p {
                                width: 33vw;
                            }
                        }
                        #second_rehabilitacion {
                            width: 33vw;
                            margin: 0 0 1.5vw 0;
                            h4 {
                                font-size: 2vw;
                                width: 33vw;
                            }
                            p {
                                font-size: 1.1vw;
                                width: 33vw;
                            }
                        }
                        img {
                            width: 25vw;
                        }
                        #fourth_rehabilitacion {
                            width: 33vw;
                            margin: 0 0 1.5vw 0;
                            h4 {
                                font-size: 2vw;
                                width: 33vw;
                            }
                            p {
                                font-size: 1.1vw;
                                width: 33vw;
                            }
                        }

                    }
                }
            }
            #box_sarro {
                h2 {
                    font-size: 2vw;
                }
                p {
                    font-size: 1.1vw;
                }
                #intro_sarro {
                    width: 30vw;
                    img {
                        width: 10vw;
                    }
                    h3 {
                        font-size: 2vw;
                    }
                }
                #text_introS {
                    width: 70vw;
                    p {
                        font-size: 1.1vw;
                        margin: 0 0 1vw 0;
                        width: 50vw;
                    }
                }
                #because_sarro {
                    img {
                        width: 25vw;
                    }
                    p {
                        font-size: 1.1vw;
                        width: 50vw;
                    }
                }
                #after_sarro {
                    width: 35vw;
                    img {
                        width: 25vw;
                    }
                    p {
                        font-size: 1.1vw;
                        margin: 0 0 1vw 0;
                        width: 50vw;
                    }
                }

                #intro_sarroSecond {
                    width: 30vw;
                    h2 {
                        font-size: 2vw;
                    }
                    img {
                        width: 10vw;
                    }
                }
                #second_sarro {
                    #first_sarroSecond {
                        width: 35vw;
                        img {
                            width: 25vw;
                        }
                        p {
                            margin: 0 0 1vw 0;
                        }
                    }
                    #second_sarroSecond {
                        width: 35vw;
                        color: $sub-titulo;
                        img {
                            width: 25vw;
                        }
                        p {
                            font-size: 1.1vw;
                            margin: 0 0 1vw 0;
                            width: 50vw;
                        }
                        h3 {
                            font-size: 2vw;
                            margin: 0 0 1vw 0;
                        }
                    }
                }
            }
            #box_amalgama {
                h2 {
                    font-size: 2vw;
                    margin: 1vw 0 0 0;
                }
                #intro_amalgama {
                    width: 35vw;
                    img {
                        width: 10vw;
                    }
                    h3 {
                        font-size: 2vw;
                    }
                }
                #text_introA {
                    width: 50vw;
                }
                p {
                    font-size: 1.1vw;
                }
                h4 {
                    font-size: 1.5vw;
                }
                #first_amalgama {
                    width: 50vw;
                    h3 {
                        font-size: 1.5vw;
                    }
                    img {
                        width: 25vw;
                    }
                }
                #second_amalgama {
                    width: 50vw;
                    h4 {
                        font-size: 1.5vw;
                    }
                    img {
                        width: 25vw;
                    }
                }
            }
            #box_extraccion {
                h2 {
                    font-size: 3vw;
                }
                em {
                    font-size: 1.1vw;
                    width: 50vw;
                }
                h4 {
                    font-size: 1.5vw;
                    text-align: center;
                    margin: 0vw;
                }
                p {
                    font-size: 1.1vw;
                    width: 50vw;
                }
                #intro_extraccion {
                    width: 30vw;
                    margin: 2vw 0 1vw 0;
                    img {
                        width: 5vw;
                    }
                    h2 {
                        font-size: 2vw;
                    }
                }
                video {
                    width: 30vw;
                }
                #first_extraccion {
                    width: 50vw;
                    h4 {
                        font-size: 1.5vw;
                    }
                }
            }
            #box_blanqueamiento {
                flex-wrap: wrap;
                flex-direction: row;
                h2 {
                    font-size: 3vw;
                }
                p {
                    font-size: 1.1vw;
                    width: 50vw;
                }
                em {
                    font-size: 1.1vw;
                    width: 50vw;
                }
                h4 {
                    font-size: 2vw;
                }
                #intro_blanqueamiento {
                    width: 40vw;
                    h2 {
                        font-size: 2vw;
                    }
                    img {
                        width: 10vw;
                    }
                }
                #text_introB {
                    width: 50vw;
                }
                video {
                    width: 30vw;
                }
                #first_blanqueamiento {
                    width: 20vw;
                    img {
                        width: 25vw;
                    }
                    h4 {
                        margin: 0 0 1vw 0;
                    }
                    p {
                        margin: 0 0 1vw 0;
                        width: 30vw;
                    }
                }
                #second_blanqueamiento {
                    width: 20vw;
                    img {
                        width: 25vw;
                    }
                    h4 {
                        margin: 0 0 2vw 0;
                    }
                    p {
                        margin: 0 0 1vw 0;
                        width: 30vw;
                    }
                }
                #third_blanqueamiento {
                    width: 50vw;
                    img {
                        width: 25vw;
                    }
                    h4 {
                        margin: 0 0 1vw 0;
                    }
                    p {
                        margin: 0 0 1vw 0;
                        width: 50vw;
                    }
                }
            }
        }
    }
}