<!DOCTYPE html>
<html lang="en-mx">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/panel.css">
    <script src="../js/panel.js" defer></script>
    <title>Panel AyvarDent</title>
</head>
<body>
    <main>
        <h2>Bienvenido a AyvarDent 🦷</h2>
        <div id="perfil"></div>
        <div id="procedimientos"></div>
        <p id="saludo">Cargando datos del paciente...</p>
        <button class="logout" onclick="cerrarSesion()">Cerrar sesión</button>
    </main>
</body>
</html>