<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/tratamientos.css">
    <script src="../js/main.js" defer></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <title>Tratamientos de Ayvar Den't</title>
</head>
<body>
    <div id="tratamientos"></div>
    <header>
        <img id="logo" src="../assets/img/logo.png" alt="Logo de AyvarDent">
        <img src="../assets/img/hamburgues.png" alt="Abrir menú" onclick="toggleMenu()" />
        
        <section id="side_menu">
            <div id="close_menu" class="menu_option" onclick="closeMenu()">x</div>
            <a href="../index.html"><div class="menu_option" onclick="closeMenu()">Inicio</div> </a>
            <a href="../views/ubicacion.html"> <div class="menu_option">Ubicación</div> </a>
            <a href="../views/promociones.html"> <div class="menu_option">Promociones</div> </a> 
            <div class="menu_option">Contacto</div>
            <div id="img_menu" class="menu_option"> 
                <a href="https://wa.me/527443822853?text=Hola%20mucho%20gusto,%20me%20gustaria%20agendar%20una%20cita%20con%20el%20doctor%20Jose%20Angel"> <img src="../assets/img/logoWBN.png" alt="Acceso al Whatsapp"> </a>
                <a href="https://www.facebook.com/profile.php?id=100083437804633"> <img src="../assets/img/logoFBN.png" alt="Acceso al Facebook"> </a>
            </div>
        </section>
    </header>
    <main>
        <section class="reveal_fade" id="beginning_text">
            <h1>Tratamientos dentales</h1>
            <p>En nuestra clínica, cada tratamiento está diseñado pensando en ti: en tu bienestar, tu comodidad y en lograr los mejores resultados posibles.</p>
            <p>Desde limpiezas preventivas hasta tratamientos avanzados de ortodoncia y estética dental, te ofrecemos soluciones integrales para cuidar tu salud bucal con tecnología de vanguardia y un trato humano excepcional.</p>
        </section>
        <section class="reveal_slide">
            <h2 id="slogan">Transformamos sonrisas, renovamos autoestima. Conoce cómo nuestros tratamientos te pueden ayudar a lograr la sonrisa que siempre imaginaste.</h2>
        </section>
        <img class="reveal_fade" id="muela" src="../assets/img/muela.png" alt="imagen de una muela">
        <section id="box_tratamientos">
            <section id="box_restauracion">
                <h2 class="reveal_slide" id="title_restauracion" >Restauración dental por fractura</h2>
                <div id="intro_restauracion" class="reveal_slide">
                    <div id="sub_restauracion">
                        <img src="../assets/img/muelaFracturada.png" alt="imagen de una muela fracturada">
                        <h3>¿Qué es una fractura dental?</h3>
                    </div>
                    <p>Una fractura dental es una interrupción en la estructura del diente causada por traumatismos, desgaste funcional, fuerzas excesivas al masticar o debilidad estructural previa. Estas pueden afectar desde el esmalte superficial hasta la pulpa dental. 
                        Las fracturas pueden clasificarse según su profundidad y localización en:</p>
                        <ul>
                            <li>Infracciones del esmalte</li>
                            <li>Fracturas coronarias sin compromiso pulpar</li>
                            <li>Fracturas coronarias con compromiso pulpar</li>
                            <li>Fracturas radiculares</li>
                        </ul>
                    <p>Cada tipo requiere un enfoque clínico distinto, desde selladores hasta tratamientos restaurativos o endodónticos. </p>
                </div>
                <div class="reveal_fade" id="caso_fractura">
                    <h3>Restauración de fractura dental con resina directa</h3>
                    <h4>Diagnóstico inicial</h4>
                    <p>El paciente acudió a consulta con una fractura en el tercio incisal del incisivo central superior derecho, producto de un traumatismo leve.</p>
                    <p>La fractura no afectaba la pulpa y el diente presentaba sensibilidad leve pero conservaba vitalidad.</p>
                    <img src="../assets/img/RFractura.jpg" alt="Diente fracturado">
                </div>
                <div class="reveal_slide" id="seg_fractura">
                    <h3>Procedimiento realizado</h3>
                    <article id="firs_fractura">
                        <strong>1. Aislamiento y limpieza:</strong>
                        <p>Se realizó aislamiento relativo con rollos de algodón. Se limpió la superficie con piedra pómez y agua.</p>
                    </article>
                    <article id="second_fractura">
                        <strong>2. Grabado ácido</strong>
                        <p>Aplicación de ácido ortofosfórico al 37% durante 15 segundos sobre esmalte, seguido de enjuague y secado sin desecar.</p>
                    </article>
                    <article id="third_fractura">
                        <strong>3. Adhesión</strong>
                        <p>Se aplicó adhesivo universal fotopolimerizable, asegurando una capa homogénea antes de fotocurado.</p>
                    </article>
                    <article id="fourth_fractura">
                        <strong>4. Estratificación con resina compuesta</strong>
                        <p>Se colocaron capas sucesivas de resina, comenzando con dentina opaca y finalizando con una capa translúcida de esmalte. Se recrearon los mamelones anatómicos para imitar la morfología original.</p>
                    </article>
                    <article id="fifth_fractura">
                        <strong>5. Contorneado y pulido</strong>
                        <p>Se realizó el contorneado con fresas de acabado y se pulió con discos de grano fino y pastas diamantadas, logrando una textura natural.</p>
                    </article>
                </div>
                <div class="reveal_fade" id="final_fractura">
                    <h3>Resultado final</h3>
                    <p>El diente recuperó su forma, color y función, 
                        integrándose de forma armoniosa al conjunto dental. 
                        La restauración es imperceptible a simple vista y la sonrisa 
                        fue completamente rehabilitada sin comprometer estructura dental sana.</p>
                    <img src="../assets/img/RFractura1.jpg" alt="Diente de fractura arreglado">
                </div>
            </section>
            <section id="background">
                <section id="box_rehabilitacion" class="reveal_slide">
                    <h2>Restauración y Rehabilitación dental</h2>
                    <div id="intro_rehabilitacion">
                        <img src="../assets/img/rehabilitación.png" alt="png de un diente fracturado">
                        <h3>¿Qué es una rehabilitación dental con implante?</h3>
                    </div>
                    <p>Cuando un diente se pierde —ya sea por fractura, 
                        caries avanzada o enfermedad periodontal— 
                        no solo se afecta la estética de la sonrisa, 
                        sino también la capacidad funcional para hablar 
                        y masticar correctamente.</p>
                    <p>La <strong>rehabilitación con implante</strong> es una solución moderna, 
                        segura y altamente estética, que permite reemplazar una 
                        pieza dental ausente sin afectar los dientes vecinos.</p>
                    <p>Un implante actúa como una raíz artificial de titanio que se 
                        integra al hueso, sobre la cual se coloca posteriormente una 
                        corona personalizada. Este tratamiento ofrece durabilidad, 
                        estabilidad y un resultado natural que restablece completamente 
                        la función y apariencia del diente perdido.</p>
                    <section class="reveal_slide" id="caso_rehabilitacion">
                        <h3>Rehabilitación dental con implante y corona.</h3>
                        <h4>Situación inicial</h4>
                        <p>El paciente acudió con pérdida dental funcional 
                            en un sector posterior, resultado de una fractura 
                            con imposibilidad de restauración.</p>
                        <p>La pieza fue removida previamente, 
                            dejando un espacio edéntulo visible 
                            que comprometía tanto la masticación 
                            como la estabilidad oclusal.</p>
                        <img src="../assets/img/restauracion.jpg" alt="Diente picado">
                    </section>
                    <section class="reveal_fade" id="pasos_rehabilitacion">
                        <h2>Procedimiento realizado</h2>
                        <article id="firs_rehabilitacion">
                            <h4>Evaluación y planificación</h4>
                            <p>Se realizó estudio clínico y 
                                radiográfico para confirmar la 
                                viabilidad ósea, espacio protésico 
                                y condiciones de tejidos blandos. 
                                Se confirmó la opción de un <strong> implante 
                                oseointegrado </strong> como solución ideal.</p>
                        </article>
                        <article id="second_rehabilitacion">
                            <h4>Colocación del implante</h4>
                            <p>Mediante cirugía mínimamente invasiva, 
                                se colocó el tornillo de titanio en el 
                                alveolo edéntulo, cuidando la paralelidad 
                                y profundidad. Se dejó un periodo de osteointegración 
                                de aproximadamente 3 meses.</p>
                        </article>
                        <img src="../assets/img/restauracion1.jpg" alt="Colocación de implante en diente picado">
                        <article id="third_rehabilitacion">
                            <h4>Colocación del pilar protéstico y corona final</h4>
                            <p>Tras comprobar la estabilidad del implante, 
                                se colocó el pilar protésico personalizado 
                                y posteriormente una corona cerámica de alta 
                                estética. Se cuidó forma y contacto proximal 
                                para preservar la función masticatoria y armonía 
                                con las piezas adyacentes.</p>
                        </article>
                        <img src="../assets/img/restauracion2.jpg" alt="Diente picado totalmente reconstruido">
                        <article id="fourth_rehabilitacion">
                            <h4>Resultado</h4>
                            <p>Se logró una rehabilitación completa, funcional y 
                                estética con un resultado indistinguible de un 
                                diente natural. El paciente recuperó la seguridad 
                                al masticar y sonreír, sin necesidad de comprometer 
                                piezas vecinas como en el caso de un puente convencional.</p>
                        </article>
                    </section>
                </section>
            </section>
            <section class="background_inter"></section>
            <section id="box_sarro">
                <h2>Profilaxis dental profesional</h2>
                <div class="reveal_slide" id="intro_sarro">
                    <img src="../assets/img/profilaxis.png" alt="png de una limpieza dental">
                    <h3>¿Qué es la profilaxis dental profesional?</h3>
                </div>
                <article class="reveal_slide" id="text_introS">
                    <p>La profilaxis es un procedimiento preventivo que elimina 
                        placa bacteriana, cálculo y pigmentaciones extrínsecas 
                        de los dientes. A diferencia del cepillado cotidiano, 
                        esta limpieza se realiza con instrumental especializado 
                        y está diseñada para alcanzar zonas que el paciente no 
                        puede higienizar por sí solo.</p>
                    <p>Este tratamiento no solo ayuda a prevenir caries y enfermedades 
                        periodontales, sino que también mejora visiblemente la apariencia 
                        dental, brindando una sonrisa más fresca y saludable.</p>
                </article>
                <article class="reveal_fade">
                    <section id="because_sarro">
                        <h2>Acumulación de sarro y placa bacteriana</h2>
                        <p>El paciente acudió con una notable acumulación 
                            de cálculo supragingival (sarro) en los dientes 
                            inferiores, visible en la imagen superior. Esta 
                            calcificación se adhiere firmemente a la superficie 
                            dental y no puede eliminarse con cepillado normal.</p>
                        <p> <em>Además de afectar la estética, el sarro es un factor de riesgo para gingivitis, mal aliento y progresión de enfermedad periodontal.</em> </p>
                        <img src="../assets/img/sarro.jpg" alt="Dientes con una placa gruesa de sarro">
                    </section>
                    <section class="reveal_slide" id="after_sarro">
                        <h2>Eliminación completa del cálculo y restauración de la salud gingival</h2>
                        <p>Se realizó una profilaxis profesional con ultrasonido, 
                            eliminando cuidadosamente el cálculo sin dañar el esmalte. 
                            El procedimiento fue complementado con cepillado rotatorio 
                            y pasta profiláctica para pulir la superficie dental, dejando 
                            los dientes limpios, lisos y saludables.</p>
                        <p> <em>El resultado es una superficie libre de depósitos duros, con encías más limpias y sin sangrado.</em> </p>
                        <img src="../assets/img/sarro1.jpg" alt="Dientes completamente restaurados">
                    </section>
                </article>
                <article class="reveal_fade" id="second_sarro">
                    <section id="intro_sarroSecond">
                        <img src="../assets/img/profilaxis.png" alt="png de una limpieza dental">
                        <h2>Impacto inmediato de una limpieza dental profesional</h2>
                    </section>
                    <section id="first_sarroSecond">
                        <p>afectando tanto la estética como el estado de salud gingival.</p>
                        <p>El paciente presenta acumulación visible de sarro en el sector anterior inferior. </p>
                        <img src="../assets/img/secondsarro.jpg" alt="Dientes con exceso de sarro">
                    </section>
                    <section id="second_sarroSecond">
                        <h3>Procedimiento realizado</h3>
                        <p>Se llevó a cabo una profilaxis profesional utilizando ultrasonido para eliminar 
                            el cálculo adherido y posteriormente pulido con pasta profiláctica.</p>
                            <img src="../assets/img/secondsarro1.jpg" alt="Dientes limpios sin sarro">
                        <h3>Resultado</h3>
                        <p>Mejora estética inmediata y reducción del riesgo periodontal, con encías visiblemente más sanas.</p>
                    </section>
                </article>
            </section>
            <section id="second_background">
                <article id="box_amalgama">
                    <h2>Rehabilitación adhesiva con resina compuesta</h2>
                    <section class="reveal_fade" id="intro_amalgama">
                        <img src="../assets/img/amalgama.png" alt="png de una amalgama">
                        <h3>¿Qué es una rehabilitación adhesiva con resina compuesta?</h3>
                    </section>
                    <section id="text_introA" class="reveal_fade">  
                        <p>Es un procedimiento conservador que permite 
                        <strong>restaurar dientes dañados o desgastados </strong> mediante 
                                la aplicación de capas de resina compuesta directamente sobre el diente.</p>
                        <p>Este tipo de rehabilitación se adhiere de forma química al 
                            esmalte y la dentina, sin necesidad de tallar excesivamente 
                            la estructura dental sana.</p>
                        <p>Su principal ventaja es la <strong> capacidad de recuperar forma, 
                            color y función dental </strong> de manera mínimamente invasiva, 
                            manteniendo la estética y la salud bucal del paciente.</p>
                    </section>
                    <section class="reveal_slide" id="first_amalgama">
                        <h3>Rehabilitación adhesiva con resina compuesta</h3>
                        <h4>Situación incial</h4>
                        <p>El paciente presentaba una restauración antigua con 
                            material oscuro que comprometía la estética dental 
                            y presentaba signos de filtración marginal. Se 
                            observaba también pérdida parcial de estructura dentaria.</p>
                        <img src="../assets/img/amalgama2.jpg" alt="Muela mal cuidada con una corona mas puesta">
                    </section>
                    <section class="reveal_fade" id="second_amalgama"> 
                        <h4>Tratamiento realizado</h4>
                        <p>Se realizó el retiro completo del material deteriorado, 
                            seguido por una rehabilitación adhesiva directa con 
                            resina compuesta de tono natural. El procedimiento se 
                            enfocó en recuperar la anatomía, color y función del 
                            diente afectado.</p>
                        <img src="../assets/img/amalgama3.jpg" alt="Muela compuesta retirando corona mal puesta">
                    </section>
                </article>
            </section>
            <section class="background_inter"></section>
            <article id="box_extraccion" class="reveal_slide">
                <h2>Extracciòn quirùrgica</h2>
                <section id="intro_extraccion" class="reveal_slide">
                    <img src="../assets/img/muela.png" alt="png de una muela extraida">
                    <h2>¿Qué es una extracción quirùrgica molar?</h2>
                </section>
                <section id="text_introE">
                    <p>La extracción quirúrgica de un molar es un procedimiento odontológico 
                        mediante el cual se retira un diente que no puede ser extraído de forma 
                        convencional. Esto suele deberse a situaciones como retención ósea, 
                        caries avanzadas, raíces comprometidas o fracturas que imposibilitan 
                        una extracción simple.</p>
                    <em>A través de técnicas quirúrgicas controladas —como colgajos, osteotomía 
                        y separación radicular— se logra remover la pieza afectada con mínima invasión, 
                        cuidando la integridad del hueso y tejido circundante.</em>
                </section>
                <section id="first_extraccion">
                    <h4>Descripción del caso</h4>
                    <p>Tras la extracción quirúrgica de un molar con compromiso estructural 
                        severo, el video muestra la pieza dental ya retirada, permitiendo 
                        observar sus raíces completas y el estado postoperatorio inmediato.</p>
                    <video src="../assets/img/extraccion1.mp4" controls autoplay loop muted poster="../assets/img/imgExtraccion.png">Tu navegador no soporto el video</video>
                    <p>Este tipo de registro es útil tanto para documentación clínica como 
                        para educación del paciente, mostrando que el procedimiento fue exitoso 
                        y sin fragmentación radicular.</p>
                </section>
            </article>
            <section id="third_background">
                <article id="box_blanqueamiento" class="reveal_fade">
                    <h2>Blanqueamiento dental con luz activadora</h2>
                    <section id="intro_blanqueamiento">
                        <img src="../assets/img/blanqueamiento1.png" alt="Un diente sucio y otro limpio">
                        <h2>¿Qué es el blanqueamiento dental con luz LED?</h2>
                    </section>
                    <section id="text_introB">
                        <p>El blanqueamiento dental con luz LED es un tratamiento estético que 
                            busca aclarar el tono natural de los dientes mediante el uso de un 
                            gel blanqueador (generalmente a base de peróxido) activado por una 
                            fuente de luz.</p>
                        <p>La luz acelera la reacción química del gel, permitiendo obtener 
                            resultados visibles en menor tiempo y con mayor eficacia.</p>
                        <em>Es un procedimiento no invasivo, ideal para pacientes que desean mejorar 
                            la estética de su sonrisa sin alterar la estructura dental.</em>
                    </section>
                    <section id="first_blanqueamiento">
                        <h2>Blanqueamiento LED de arcada superior</h2>
                        <h4>Estado inicial</h4>
                        <p>El paciente acudió con dientes oscurecidos por pigmentación extrínseca, 
                            resultado del consumo de café y desgaste del esmalte.</p>
                        <img src="../assets/img/blanqueamiento2.jpg" alt="Dientes amarillentos">
                    </section>
                    <section id="second_blanqueamiento">
                        <h4>Procedimiento</h4>
                        <p>Se aplicó un gel blanqueador de alta concentración y se activó mediante 
                            luz LED durante tres ciclos de 15 minutos.</p>
                        <p>Se utilizó aislamiento con dique líquido para proteger los tejidos blandos.</p>
                        <img src="../assets/img/blanqueamiento3.jpg" alt="Dientes blancos como perlas">
                    </section>
                    <section id="third_blanqueamiento">
                        <h4>Introducción clínica</h4>
                        <p>El blanqueamiento dental con luz LED es un procedimiento estético no invasivo que 
                            utiliza un gel blanqueador activado por una fuente de luz fría.</p>
                        <p>Esta técnica acelera la eliminación de manchas y pigmentaciones, logrando una 
                            sonrisa más clara en una sola sesión.</p>
                        <em>Es ideal para pacientes que buscan resultados rápidos y seguros, sin comprometer 
                            la estructura dental.</em>
                        <video src="../assets/img/blanqueamiento.mp4"controls autoplay loop muted poster="../assets/img/imgExtraccion.png">Tu navegador no soporto el video</video>
                        <h4>Descripción del caso</h4>
                        <p>Paciente con tinciones extrínsecas moderadas en dientes anteriores. Se aplicó gel 
                            de peróxido de hidrógeno al 35% y se activó con lámpara LED durante tres ciclos 
                            de 15 minutos. El video muestra el procedimiento completo y el cambio de tono logrado.</p>
                    </section>
                </article>
            </section>
            <section class="background_inter"></section>
        </section>
    </main>
    <footer>
        <section id="redes_sociales">
            <section class="box_redes">
                <strong>CONTÁCTANOS</strong>
                <div class="box_social">
                    <img class="logo" src="../assets/img/logoWBN.png" alt="logo de whatsapp">
                    <p><strong>Whatsapp:</strong>7443822853</p>
                </div>
                <div class="box_social">
                    <img class="logo" src="../assets/img/logoFBN.png" alt="logo de whatsapp">
                    <p><strong>facebook:</strong>Ayvar den't</p>
                </div>
            </section>
            <section class="box_redes">
                <strong>CONTACT US</strong>
                <div class="box_social">
                    <img class="logo" src="../assets/img/logoWBN.png" alt="logo de whatsapp">
                    <p><strong>Whatsapp:</strong>7443822853</p>
                </div>
                <div class="box_social">
                    <img class="logo" src="../assets/img/logoFBN.png" alt="logo de whatsapp">
                    <p><strong>facebook:</strong>Ayvar den't</p>
                </div>
            </section>
        </section>
        <section id="box_ubicacion">
                <p><strong>Ubicación:</strong>
                Nos encontramos en la Avenida Fuerza Aerea, Playa pie de la cuesta, a un costado del Hawai 5-0.</p>
            <iframe id="maps" src="//www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d712.8545273888217!2d-99.96937086467611!3d16.90060982530357!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2smx!4v1750887761074!5m2!1ses!2smx" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </section>
        <a href="#tratamientos" id="box_boton"> <img class="btn_subir" src="../assets/img/flecha.png" alt="boton para subir"></a>
    </footer>
</body>
</html>