<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/tratamientos.css">
    <script src="../js/main.js" defer></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <title>Tratamientos de Ayvar Den't</title>
</head>
<body>
    <div id="tratamientos"></div>
    <header>
        <img id="logo" src="../assets/img/logo.png" alt="Logo de AyvarDent">
        <img src="../assets/img/hamburgues.png" alt="Abrir menú" onclick="toggleMenu()" />
        
        <div id="side_menu">
            <div id="close_menu" class="menu_option" onclick="closeMenu()">x</div>
            <a href="../index.html"><div class="menu_option" onclick="closeMenu()">Inicio</div> </a>
            <div class="menu_option">Ubicación</div>
            <div class="menu_option">Promociones</div>
            <div class="menu_option">Contacto</div>
            <div id="img_menu" class="menu_option"> 
                <a href="https://wa.me/527443822853?text=Hola%20mucho%20gusto,%20me%20gustaria%20agendar%20una%20cita%20con%20el%20doctor%20Jose%20Angel"> <img src="../assets/img/logoWBN.png" alt="Acceso al Whatsapp"> </a>
                <a href="https://www.facebook.com/profile.php?id=100083437804633"> <img src="../assets/img/logoFBN.png" alt="Acceso al Facebook"> </a>
            </div>
        </div>
    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>
</html>