<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/agendar-cita.css">
    <script src="../js/agendarCita.js" defer></script>
    <script src="../js/main.js" defer></script>
    <script src="../js/login.js" defer></script>
    <title>Agendar cita</title>
</head>
<body>
    <header>
        <img id="logo" src="../assets/img/logo.png" alt="Logo de AyvarDent">
        <img id="hamburguesa" src="../assets/img/hamburgues.png" alt="Abrir menú" onclick="toggleMenu()" />
        
        <section id="side_menu">
            <div id="close_menu" class="menu_option" onclick="closeMenu()">x</div>
            <a href="../index.html"><div class="menu_option" onclick="closeMenu()">Inicio</div> </a>
            <a href="../views/ubicacion.html"> <div class="menu_option">Ubicación</div> </a>
            <a href="../views/tratamientos.html"><div class="menu_option" onclick="closeMenu()">Tratamientos</div> </a>
            <a href="../views/promociones.html"> <div class="menu_option">Promociones</div> </a>
            <a href="../views/iniciar-sesion.html"> <div class="menu_option opcion_oculta_after iniciar-sesion">Iniciar sesion</div></a>
            <a href="../views/perfil.html"><div class="menu_option opcion_oculta_because perfil">Perfil</div></a>
            <div id="img_menu" class="menu_option"> 
                <a href="https://wa.me/527443822853?text=Hola%20mucho%20gusto,%20me%20gustaria%20agendar%20una%20cita%20con%20el%20doctor%20Jose%20Angel"> <img src="../assets/img/logoWBN.png" alt="Acceso al Whatsapp"> </a>
                <a href="https://www.facebook.com/profile.php?id=100083437804633"> <img src="../assets/img/logoFBN.png" alt="Acceso al Facebook"> </a>
            </div>
        </section>
        <section id="menu_tablet">
            <a href="../index.html"> <button type="button" class="search_btn">Inicio</button> </a>
            <a href="../views/ubicacion.html"> <button type="button" class="search_btn">Ubicación</button> </a>
            <a href="../views/tratamientos.html"> <button type="button" class="search_btn">Tratamientos</button> </a>
            <a href="../views/promociones.html"><button type="button" class="search_btn">Promociones</button></a>
            <a href="../views/iniciar-sesion.html"><button type="button" class="search_btn opcion_oculta_after iniciar-sesion">Iniciar sesion</button></a>
            <a href="../views/perfil.html"><button type="button" class="search_btn opcion_oculta_because perfil">Perfil</button></a>
        </section>
    </header>
    <main>
      <section id="agendar-cita-section">
        <h2>Agendar cita</h2>
        <form id="form-cita">
            <label for="procedimiento">Procedimiento:</label>
            <select class="optionCita" id="procedimiento" name="procedimiento" required>
              <option value="ortodoncia">Ortodoncia</option>
              <option value="quitar-sarro">Quitar sarro</option>
              <option value="blanqueamiento">Blanqueamiento dental</option>
              <option value="restauracion">Restauración Dental</option>
              <option value="rehabilitacion-implante">Rehabilitación con implante</option>
              <option value="rehabilitacion-resina">Rehabilitación con resina</option>
              <option value="extraccion">Extracción quirúrgica</option>
            </select>
        
            <label for="fecha">Fecha:</label>
            <input class="optionCita" type="date" id="fecha" name="fecha" required>
        
            <label for="hora">Hora:</label>
            <input class="optionCita" type="time" id="hora" name="hora" required>

            <legend>Información de Salud Crítica</legend>
            
              <label for="tipoSangre">Tipo de Sangre:</label>
              <select class="optionCita" id="tipoSangre" name="tipoSangre">
                <option value="O+">O+</option>
                <option value="O-">O-</option>
                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="B+">B+</option>
                <option value="B-">B-</option>
                <option value="AB+">AB+</option>
                <option value="AB-">AB-</option>
                <option value="Desconocido" selected>No lo sé</option>
              </select>
          
              <label for="enfermedadCronica">¿Padece alguna enfermedad crónica? (Diabetes, hipertensión, etc.):</label>
              <input class="optionCita" type="text" id="enfermedadCronica" name="enfermedadCronica" placeholder="Ej: Diabetes Tipo 2">
          
              <label for="medicacion">¿Toma algún medicamento actualmente?</label>
              <input class="optionCita" type="text" id="medicacion" name="medicacion" placeholder="Ej: Aspirina, Metformina">
          
              <label for="alergias">¿Tiene alguna alergia?</label>
              <input class="optionCita" type="text" id="alergias" name="alergias" placeholder="Ej: paracetamol, anestecia local">
        
            <button type="submit" style="margin-top: 10px;">Solicitar Cita</button>
        </form>
        <div id="mensaje-cita"></div>
      </section>
    </main>
    <footer>
        <section id="redes_sociales">
            <section class="box_redes">
                <strong>CONTÁCTANOS</strong>
                <div class="box_social">
                    <img class="logo" src="../assets/img/logoWBN.png" alt="logo de whatsapp">
                    <p><strong>Whatsapp:</strong>7443822853</p>
                </div>
                <div class="box_social">
                    <img class="logo" src="../assets/img/logoFBN.png" alt="logo de whatsapp">
                    <p><strong>facebook:</strong>Ayvar den't</p>
                </div>
            </section>
            <section class="box_redes">
                <strong>CONTACT US</strong>
                <div class="box_social">
                    <img class="logo" src="../assets/img/logoWBN.png" alt="logo de whatsapp">
                    <p><strong>Whatsapp:</strong>7443822853</p>
                </div>
                <div class="box_social">
                    <img class="logo" src="../assets/img/logoFBN.png" alt="logo de whatsapp">
                    <p><strong>facebook:</strong>Ayvar den't</p>
                </div>
            </section>
        </section>
        <section id="box_ubicacion">
                <p><strong>Ubicación:</strong>
                Nos encontramos en la Avenida Fuerza Aerea, Playa pie de la cuesta, a un costado del Hawai 5-0.</p>
            <iframe id="maps" src="//www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d712.8545273888217!2d-99.96937086467611!3d16.90060982530357!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2smx!4v1750887761074!5m2!1ses!2smx" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </section>
        <a href="#tratamientos" id="box_boton"> <img class="btn_subir" src="../assets/img/flecha.png" alt="boton para subir"></a>
    </footer>
</body>
</html>